@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage horizontal */
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: #f7fafc;
}

.card-hover {
  cursor: pointer;
  width: 100%;
  max-width: 350px;
}

.card-hover:hover {
  transform: scale(1.05);
}